* {
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700&display=swap");

@import "scss/global", "scss/variables", "scss/header", "scss/navbar",
    "scss/bizkimiz", "scss/navigation", "scss/nasilcalisiyor";
