* {
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@import "scss/_normalize", "scss/variables", "scss/navbar", "scss/header", "scss/bizkimiz",
    "scss/navigation", "scss/nasilcalisiyor", "scss/_media-queries";
