.header {
    height: calc(100vh - 6.25rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
    background: url("assets/header_back.jpg") no-repeat center;
    background-size: cover;
    .header__heading {
        margin-top: auto;
        text-align: center;
        width: 80vw;
    }
    .badges--header {
        margin-top: auto;
        margin-bottom: 1rem;
    }
}

.arrow {
    height: 1rem;
}
