@media only screen and (min-width: 600px) {
    .nav-button{
        display: none;
    }
    .navbar {
        
        .navbar-desk-menu{
            display: flex;

        }
        .navbar-desk-menu li{
            margin: 1rem 2rem 1rem;
            
        }
        
    }
    
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {} 

@media only screen and (min-width: 1200px) {}