.navbar {
    display: flex;
    align-items: center;
    height: 4rem;
    border-bottom: 0.25rem solid $birincil;
    .navbar__logo {
        height: 2rem;
        margin-left: 1rem;
    }
}

.nav-button {
    height: 1rem;
    margin-left: auto;
    margin-right: 1rem;
}
